.container_gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.gallery_item {
  flex-basis: 400px;
}

.gallery_image {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
}
