<html>
  <head>
    <title>Delights Helados</title>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no; width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css"/>
    <link rel="stylesheet" href="/styles/login.css"/>
    <link rel="stylesheet" href="/styles/sabores.css"/>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Pathway+Extreme:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  </head>
  <body>
     <header>
      <div
        style='height: 100px; width: 325px'
        class="titulo-container container d-flex align-items-center justify-content-center"
      >
        <img class="w-100" src="/img/logotipo.png" alt="Delights Helados"></img>
      </div>
     </header>
    {{{body}}}
    <footer
      style='background: #5A3742;'
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <div class="container row py-2 align-items-center">
        <div class="col-12 col-lg-4 py-2 text-center text-white">
          <h4>DELIGHTS</h4>
          <p>
            Somos una heladería que combina la verdadera receta italiana con
            tecnología de última generación para elaborar helados de calidad
          </p>
        </div>
        <div class="col-12 col-lg-4 py-2 text-center text-white">
          <h5>CONTACTO</h5>
          <p>Delights.Helados@gmail.com</p>
          <p>11 5268-1938</p>
        </div>
        <div
          class="col-12 col-lg-4 py-2 text-center text-white d-none d-lg-block"
        >
          <p>Scalabrini Ortiz 941, Palermo.</p>
          <p>Riestra 5841, Almagro.</p>
          <p>Roosvelt 2569, Puerto Madero.</p>
        </div>
      </div>
      <div
        class="w-100 text-center text-white py-1"
        style='background: #23161A'
      >
        Delights Helados | Copyright 2023 ©
      </div>
    </footer>
  </body>
</html>