<div class="container h3 py-3 text-center border-top border-bottom border-dark">
  Inicie sesión para continuar
</div>

<form
  class="container border shadow formulario"
  action="/admin/login"
  method="post"
>
  <div class="pb-1 text-center">
    <p class="h1">Credenciales</p>
  </div>
  <div>
    <input
      class="col-12 form-control p-3 my-4"
      placeholder="Nombre"
      type="text"
      name="user"
      id="inputUser"
      required
    />
    <input
      class="col-12 form-control p-3 my-4"
      placeholder="Contraseña"
      type="password"
      name="password"
      id="inputPassword"
      required
    />
  </div>
  {{#if error}}
    <div class="text-center">
      <span>Usuario y/o constraseña incorrecto/s</span>
    </div>
  {{/if}}
  <div class="d-flex my-4 justify-content-center">
    <button
      class="col-12 text-light w-50 border-0 p-3 h5 rounded-3 contacto_button"
    >
      Ingresar
    </button>
  </div>
</form>